body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;
}

.Navbar {
  width: 250px; /* Adjust width as needed */
  background-color: #f4f4f4; /* Adjust background color as needed */
  overflow: auto;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.ProfileModal {
  max-width: 400px; /* Adjust size as needed */
  margin: auto;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .Navbar {
    width: 100%;
  }
}
/* Backdrop Blur Effect */
.modal-backdrop-blur {
  position: fixed; /* Ensure it's positioned correctly */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  z-index: 999; /* Ensure it's above other content */
}
